.Content {
    background-color: white;
    margin: 0 24px;
}

.Form {
    max-width: 600px;
    margin: auto;

    .cover {
        height: 100px;
    }
}

.List {
    .card {
        background-color: #fafafa;
        border-radius: 8px;
    }

    img {
        padding: 10px;
    }

}